<html>
    <head></head>
    <body>
        <style>
            body {
                background: <%= colour %>;
                font-size: 3em;
            }
        </style>
            <form>
                <input type='text' name='guess' />
                <input type='submit' value='Guess!' />
            </form>
            <p>
                <%= guess_report %>
                <br>
                <%= cheat_number %>
            </p>
    </body>
<html>